{% extends 'base.html' %}
{% block navbar_block %}
{% include 'navbar_project.html' %}
{% endblock %}
{% block bodytext %}
<div class="text-center">
    <p>
        <form action="" method="post">
                {% csrf_token %}
            
            <p> Please insert Your weight in kg :</p>
            <p> {{ form.formweight }} </p>
            <p> Please insert Your height in cm :</p>
            <p>  {{ form.formheight }} </p>
            
            <br>
            
            <input type="submit" class="btn btn-primary" value="Calculate">
            </form>
            </p>
            
   
</div>
{% endblock %}